.App {
  background: url('../src//assets/trees.jpeg') no-repeat center;
  background-size: cover;
  text-align: center;
  height: 100vh;
}

.App h1 {
  margin-top: 0px;
  padding-top: 10px;
  color: rgb(115, 236, 161);
}